* {
    font-size: 14px;
    border-radius: 5px;
}

#waybar {
    margin-bottom: 10px;
}

window#waybar {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrains Mono, monospace;
    background-color: transparent;
    border-bottom: 0px;
    color: #bd93f9;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.modules-right {
    margin: 10px 10px 10px 0;
}
.modules-center {
    margin: 10px 0 10px 0;
}
.modules-left {
    margin: 10px 0 10px 10px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
} */

#workspaces {
    background-color: #282a36;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #8be9fd;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: #8be9fd;
}

#workspaces button.focused {
    background-color: #44475a;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #ff5555;
    color: #44475a;
}

#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#wireplumber,
#tray,
#mpris {
    padding: 0 10px;
    background-color: #282a36;
    color: #bd93f9;
}

#memory {
    padding: 0 10px;
    background-color: #282a36;
    color: #50fa7b;
}

#load {
    padding: 0 10px;
    background-color: #282a36;
    color: #ff79c6;
}

#backlight {
    padding: 0 10px;
    background-color: #282a36;
    color: #f1fa8c;
}

#mode {
    background-color: #50fa7b;
    color: #282a36;
    /* box-shadow: inset 0 -3px #ffffff; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cava {
    padding: 0 5px;
}

#battery.charging, #battery.plugged {
    background-color: #50fa7b;
    color: #282a36;
}

@keyframes blink {
    to {
        background-color: #282a36;
        color: #ebdbb2;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #ff5555;
    color: #282a36;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #44475a;
}

#wireplumber.muted {
    background-color: #ff5555;
    color: #282a36;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    background-color: #8be9fd;
    color: #282a36;
}

#tray menu {
    font-family: sans-serif;
}

#scratchpad.empty {
    background: transparent;
}